<style>
    .cropArea{
        background: #E4E4E4;
        overflow: hidden;
        width: 400px;
        height: 400px;
    }

</style>

<input type="file" id="fileInput" />
<div>
    <img src={{profileImage}} style="height: 200px; height: 200px">
</div>


</div>

<!--<button ng-click="clickToOpen()"></button>-->
<script type="text/ng-template" id="templateId">
   <div class="cropArea">
       <ui-cropper image="cropping.myImage" area-type="square" chargement="'Loading'" result-image="cropping.myCroppedImagenew" result-image-size="'max'" style="text-align: center"></ui-cropper>
   </div>

   <button ng-click="rotate(false)">Rotate Left</button>
   <button ng-click="saveImage()">save</button>
    <button ng-click="rotate(true)">Rotate Right</button>
</script>

